<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-config.dtd">    
<configuration>    
    
    <!-- 类型转换器 -->
    <typeHandlers>
        <!-- String转换为Integer -->
    	<typeHandler javaType="java.lang.String" jdbcType="INTEGER"
    		handler="com.GongQi.paidui.dao.base.StringtoIntegerTypeHandler" /> 
    	<!-- String转换为Integer -->	
    	<typeHandler javaType="java.lang.String" jdbcType="OTHER"
    		handler="com.GongQi.paidui.dao.base.UUIDTypeHandler" />
    </typeHandlers>    
   
</configuration>  